
/* COMMON */

body {
    background-color: lightskyblue;
    font-family: 'Montserrat', sans-serif; 
}

.ms_total_container {
    width: 70%;
    margin: 0 auto;
}

.ms_container_content {
    font-size: 0.8rem;
    margin-top: 4rem;
    border-radius: 4px;
    background-color: white;
}

img {
    width: 100%;
    display: block;
}

.ms_dotted {
    border-bottom: 1px dotted;
    display: inline-block;
}

a {
    color: #818181;
    text-decoration: none;
}

p {
   color: #818181;
}

.ms_icon {
    color: black;
}

.ms_red_text {
    color: red;
}

/* MAIN */
/* HOTEL INFO */

.ms_circle {
    background-color: green;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    display: inline-block;
}

.ms_info_container {
    padding: 0.5rem;
}

.ms_container_content h3 {
    margin: 0.5rem;
}

.hotel_valutation {
    color: #818181;
    margin-bottom: 1rem;
}

.hotel_prices {
    display: flex;
    justify-content: space-between;
}

.old-price {
    color: red;
    text-decoration: line-through;
}

.new-price {
    font-size: 1.5rem;
}

.ms_prices strong {
    font-size: 1rem;
}

.ms_btn_offer {
    background-color: #f1b202;
    color: black;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}

.view-offer-lg {
    display: none;
}

.hotel-services {
    display: none;
    margin-top: 1rem;
} 

.sites-cross-check {
    padding: 0 20px;
    text-align: center;
}

.expedia-logo {
    display: none;
    max-width: 100px;
}

.price-comparation {
    display: none;
    order: 1;
    border-left: 1px dashed gray;
    border-right: 1px dashed gray;
    text-align: center;
    margin-right: 1rem;
}

.ms_price_booking {
    font-size: 1.2rem;
}

.other-sites-check {
    width: 80%;
    margin: 0 auto;
}


@media all and (min-width: 992px) {

    .ms_img_container {
        width: 100%;
        height: 100%;
    }

    .ms_img_container img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .ms_info_container {
        display: flex;
        justify-content: space-between;
    }

    .view-offer-lg {
        display: block;
    }

    .view-offer {
        display: none;
    }

    .ms_website_link {
        display: none;
    }

    .hotel-services {
        display: block;
    }

    .expedia-logo {
        display: block;
    }
    
    .hotel_valutation {
        width: calc((100% / 2) - 50px);
        order: 2;
    }
    
    .hotel_prices {
        order: 1;
        display: inline-block;
    }
    
    .sites-cross-check {
        display: none;
    }

    .price-comparation {
        display: block;
        order: 1;
    }
    

}